:root {
    --primary-text-color: #555555;
    --second-text-color: #303030;
    --white-color:#ffffff;
    --accent-color: #FF6C00;
    --primary-bg-color: #ffffff;
    --second-bg-color: #F7F7F7;
    --contacts-bg-color:#191C26;
    --hero-text-color:#9DA4BD;
    --color-with-transparency: rgba(157, 164, 189, 0.6);
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,       /*сбросили автоматические марджины*/
h5,
h6,
table
{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
    padding: 0;
    margin: 0;
}
.container {
    /*ставятся внутри секции*/
    width: 100%;
    /*использовать 100% ширины*/
    max-width: 1200px;
    /*максимальная ширина*/
    padding-left: 15px;
    /*паддинги включены в ширину*/
    padding-right: 15px;
    margin: 0 auto;

    outline: 1px solid #f0824c;
    /*временная рамка для наглядности*/
}

.list {
    list-style: none;  /*убрали маркировку списков*/
}
.link{
    text-decoration: none;  /*убрали подчеркивание ссылок*/
    display: inline-block;  /*сделали ссылки блочно-строчными */
}
.link:hover,
.link:focus,
.logo:hover,
.logo:focus{
    color: var(--accent-color);
}

.contacts-item-link{
    font-style: normal;  /*внутри адреса сняли автоматический курсив*/
}

                 /*header*/
.header{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--primary-text-color); /*временно*/
}
.header-cont{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-nav-logo-link{
    margin-right: 132px;
}
.header-nav-list{
    display: flex;
    gap: 30px;
}
.header-nav-link{
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
}
.header-nav-tel{
    margin-right: 43px;
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}
.button{
    min-width: 160px;/*кнопка расширится вширину, если контента много, 
    не в высоту. но минимум своей ширины будет держать*/
    height: 40px;
    color: var(--white-color);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent; /*прозрачный фон*/
    font-family: inherit;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
}
.about-button{
    color: var(--second-text-color);
}
.button:hover,
.button:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}

            /*sidebar*/
.sidebar{
    width: 100px;
    padding-top: 27px;
    padding-bottom: 58px;
}
.sidebar-list{
    display: flex;

}
.sidebar-item-link{
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}
.sidebar-item-link:hover,
.sidebar-item-link:focus{
    color: var(--accent-color);
}


            /*hero*/
/*.hero{
    padding-top: 184px;
    padding-bottom: 40px;
}*/
.hero-cont{
    display: flex;
}
.hero-main{
    padding: 272px 100px 208px;
    background-color: #9dcc26; 
    flex-grow: 1; /*растягивает контент на 1 часть. 
    в нашем случае ширина левого соседа фиксированная*/
}
.hero-pre-title{
    margin-bottom: 20px;
    color: var(--color-with-transparency);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}
.hero-title{
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}
.hero-after-title{
    margin-bottom: 144px;
    max-width: 360px;
    color: var(--hero-text-color);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.hero-list{
    display: flex;
    gap: 24px;
    flex-direction: row-reverse;
}
.hero-item-back{
    color: var(--color-with-transparency);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

}
.hero-item-forward{
    color: var(--white-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: right;
    letter-spacing: 0.1em;
}


            /*about*/
.about{
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-cont{
    display: flex;
    gap: 30px;
}
.about-list{
    display: flex;
    gap: 30px;
}
.about-main{
    max-width: 470px;
}
.about-pre-title {
    margin-bottom: 20px;
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}
.about-title {
    margin-bottom: 20px;
    color: var(--second-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.about-subtitle {
    margin-bottom: 20px;
    color:var(--primary-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.about-text {
    margin-bottom: 42px;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}


            /*price*/
.price {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--primary-text-color);
}

.price-pre-title {
    margin-bottom: 20px;
    color: var(--color-with-transparency);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}
.price-title {
    margin-bottom: 44px;
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.price-main{
    display: flex;
    gap: 30px;
    
}
.table-service,
.table-price {
    padding: 0;
    color: var(--hero-text-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.price-table{
    margin-bottom: 44px;
    width: calc((100%-30px)/2);
    height: 240px;
    padding: 30px 22px 30px 20px;

    border: 1px solid #4d1b02;
}
.button-price{
    display: block;
    margin: 0 auto;
}



        /*progress*/
.progress{
    padding-top: 120px;
    padding-bottom: 120px;
}
.progress-cont{
    display: flex;
    gap: 130px;
}
.progress-item{
    display: block;
    width: 170px;
    height: 133px;
    text-align: center;
    padding: 20px 24px;
    margin-bottom: 20px;
    background-color: var(--second-bg-color);
}
.progress-item-number {
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
}
.progress-item-text {
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
}
.progress-main{
    max-width: 500px;
}
.progress-pre-title {
    margin-bottom: 20px;
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}
.progress-title {
    max-width: 430px;
    margin-bottom: 20px;
    color: var(--second-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.progress-title-text {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}
.orange-color{
    color: var(--accent-color);
}


            /*barbers*/
.barbers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--second-bg-color);
}
.barbers-pre-title {
    margin-bottom: 20px;
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}
.barbers-title {
    margin-bottom: 44px;
    color: var(--second-text-color);
    font-family: 'Raleway',sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.barbers-list{
    display: flex;
    gap: 30px;
}
.barbers-item{
    width: calc((100%-60px)/3);
}
.barbers-item-main{
    padding: 30px 0;
}
.barbers-name {
    margin-bottom: 8px;
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
}
.barbers-speciality {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
}


        /*workphoto*/
.workphoto{
    padding-top: 120px;
    padding-bottom: 120px;
}
.workphoto-pre-title {
    margin-bottom: 44px;
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}
.workphoto-list {
    display: flex;
    gap: 30px;
}
.workphoto-item{
    width: calc((100%-90px)/4);
}



        /*online-booking*/
.online-booking{
    padding-top: 130px;
    padding-bottom: 183px;
    
    background-color: #deac93;
}

        /*contacts*/
.contacts {
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: var(--primary-text-color);}
.contacts-cont{
    padding-left: 100px;
}
.contacts-title {
    margin-bottom: 40px;
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.contacts-address{
    width: 270px;
    height: 160px;
    padding: 0;
    margin-bottom: 70px;
}
.contacts-item:nth-last-child(n+2){
    margin-bottom: 20px;
}
.contacts-item-link {
    color: var(--hero-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.contacts-subtitle {
    margin-bottom: 20px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}
.contacts-subtitle-text {
    color: var(--hero-text-color);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}


            /*footer*/
.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--second-bg-color);
}
.footer-cont{
    display: flex;
    justify-content: space-between ;
}
.footer-copyright {
    color: var(--hero-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}
.footer-list{
    display: flex;
    gap: 40px;
}
.footer-link {
    color: var(--second-text-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}




.hidden {
    position: absolute;   /*скрыли элемент*/
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}