:root {
    --primary-text-color: #555555;
    --title-text-color: #303030;
    --accent-color: #FF6C00;
    --main-bg-color: #ffffff;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.orange-color {
    color: var(--accent-color);
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}